<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>Создать нового клиента</title>
</head>
<body>
    <h1>Создать нового клиента</h1>
    <form method="POST">
        <label for="client_name">Имя клиента:</label>
        <input type="text" name="client_name" id="client_name" required>
        <br>
        <label for="client_phone">Телефон клиента:</label>
        <input type="text" name="client_phone" id="client_phone" required>
        <br>
        <input type="submit" value="Создать клиента">
    </form>
</body>
</html>
