<!DOCTYPE html>
<html>
<head>
    <title>Оформление заказа</title>
</head>
<body>
    <h1>Оформление заказа</h1>
    <form method="POST">
        <label for="user_name">Ваше имя: </label>
        <input type="text" name="user_name" required><br>
        <label for="user_phone">Ваш номер телефона: </label>
        <input type="text" name="user_phone" required><br>
        <label for="order_value">Количество: </label>
        <input type="number" name="order_value" required><br>
        <input type="submit" value="Заказать">
    </form>
</body>
</html>
